In [1]:
import pandas as pd

In [2]:
comp = pd.read_csv('allfiles-4/comp.txt', sep=",", header=None)

In [61]:
comp.rename(columns={
    0: "DRUG_CODE",
    1:"ACTIVE_INGREDIENT_CODE",
    2: "INGREDIENT",
    3: "INGREDIENT_SUPPLIED_IND",
    4: "STRENGTH",
    5: "STRENGTH_UNIT",
    6: "STRENGTH_TYPE",
    7: "DOSAGE_VALUE",
    8: "BASE",
    9: "DOSAGE_UNIT",
    10: "NOTES",
    11:"INGREDIENT_F",
    12: "STRENGTH_UNIT_F",
    13: "STRENGTH_TYPE_F",
    14: "DOSAGE_UNIT_F",
    15: 'NO NAME GIVEN',
    16: 'Province',
    17: "Country"
}, inplace=True)

In [62]:
comp.head()

,DRUG_CODE,ACTIVE_INGREDIENT_CODE,INGREDIENT,INGREDIENT_SUPPLIED_IND,STRENGTH,STRENGTH_UNIT,STRENGTH_TYPE,DOSAGE_VALUE,BASE,DOSAGE_UNIT,NOTES,INGREDIENT_F,STRENGTH_UNIT_F,STRENGTH_TYPE_F,DOSAGE_UNIT_F,NO NAME GIVEN,Province,Country
0,9,PIA08,8481,PALADIN LABS INC.,DIN OWNER,Y,Y,Y,N,NaN,"100 BLVD ALEXIS-NIHON, SUITE 600",SAINT-LAURENT,QUEBEC,CANADA,H4M 2P2,NaN,QUÉBEC,CANADA
1,15,NaN,14412,AA PHARMA INC,DIN OWNER,Y,Y,Y,NaN,UNIT 1,1165 CREDITSTONE ROAD,VAUGHAN,ONTARIO,CANADA,L4K 4N7,NaN,ONTARIO,CANADA
2,16,NaN,14412,AA PHARMA INC,DIN OWNER,Y,Y,Y,NaN,UNIT 1,1165 CREDITSTONE ROAD,VAUGHAN,ONTARIO,CANADA,L4K 4N7,NaN,ONTARIO,CANADA
3,57,ATL07,3659,LABORATOIRE ATLAS INC,DIN OWNER,Y,Y,Y,N,NaN,9600 BOUL. DES SCIENCES,MONTREAL,QUEBEC,CANADA,H1J 3B6,NaN,QUÉBEC,CANADA
4,68,ATL07,3659,LABORATOIRE ATLAS INC,DIN OWNER,Y,Y,Y,N,NaN,9600 BOUL. DES SCIENCES,MONTREAL,QUEBEC,CANADA,H1J 3B6,NaN,QUÉBEC,CANADA

In [5]:
drug = pd.read_csv('allfiles-4/drug.txt', sep=",", header=None)

In [6]:
drug.rename(columns={
    0: "DRUG_CODE",
    1:"PRODUCT_CATEGORIZATION",
    2: "CLASS",
    3: "DRUG_IDENTIFICATION_NUMBER",
    4: "BRAND_NAME",
    5: "DESCRIPTOR",
    6: "PEDIATRIC_FLAG",
    7: "ACCESSION_NUMBER",
    8: "NUMBER_OF_AIS",
    9: "LAST_UPDATE_DATE",
    10: "AI_GROUP_NO",
    11:"CLASS_F",
    12: "BRAND_NAME_F",
    13: "DESCRIPTOR_F"
}, inplace=True)

In [7]:
drug.head()

,DRUG_CODE,PRODUCT_CATEGORIZATION,CLASS,DRUG_IDENTIFICATION_NUMBER,BRAND_NAME,DESCRIPTOR,PEDIATRIC_FLAG,ACCESSION_NUMBER,NUMBER_OF_AIS,LAST_UPDATE_DATE,AI_GROUP_NO,CLASS_F,BRAND_NAME_F,DESCRIPTOR_F
0,10000,NaN,Veterinary,813761,LINCOMIX,NaN,N,69580,1,03-DEC-2018,105826008,Vétérinaire,NaN,NaN
1,10001,NaN,Veterinary,813826,MGA 100 PREMIX,NaN,N,69581,1,15-AUG-2016,106337002,Vétérinaire,NaN,NaN
2,10008,NaN,Human,644579,IMIPRAMINE,NaN,N,69610,1,13-MAY-2013,103832004,Humain,NaN,NaN
3,10009,NaN,Human,799823,DIANEAL PD 101 CAPD SOLUTION W 2.5% DEXTROSE,NaN,N,69611,5,28-MAY-2009,500162043,Humain,NaN,NaN
4,10010,NaN,Disinfectant,804304,OMNISAN LIQ,NaN,N,69638,2,29-SEP-2010,205019002,Désinfectant,NaN,NaN

In [8]:
form = pd.read_csv('allfiles-4/form.txt', sep=",", header=None)

In [9]:
form.rename(columns={
    0: "DRUG_CODE",
    1:"PHARM_FORM_CODE",
    2: "PHARMACEUTICAL_FORM",
    3: "PHARMACEUTICAL_FORM_F"
}, inplace=True)

In [10]:
form.head()

   DRUG_CODE  PHARM_FORM_CODE  PHARMACEUTICAL_FORM     PHARMACEUTICAL_FORM_F
0      10000               56  POWDER FOR SOLUTION      Poudre pour solution
1      10001               24          DRUG PREMIX  Prémélange médicamenteux
2      10008               85               TABLET                  Comprimé
3      10009              134             SOLUTION                  Solution
4      10010               34               LIQUID                   Liquide

In [11]:
ingred = pd.read_csv('allfiles-4/ingred.txt', sep=",", header=None)

In [12]:
ingred.rename(columns={
    0: "DRUG_CODE",
    1:"ACTIVE_INGREDIENT_CODE",
    2: "INGREDIENT",
    3: "INGREDIENT_SUPPLIED_IND",
    4: "STRENGTH",
    5: "STRENGTH_UNIT",
    6: "STRENGTH_TYPE",
    7: "DOSAGE_VALUE",
    8: "BASE",
    9: "DOSAGE_UNIT",
    10: "NOTES",
    11: "INGREDIENT_F",
    12: "STRENGTH_UNIT_F",
    13: "STRENGTH_TYPE_F",
    14: "DOSAGE_UNIT_F"
}, inplace=True)

In [13]:
ingred.head()

,DRUG_CODE,ACTIVE_INGREDIENT_CODE,INGREDIENT,INGREDIENT_SUPPLIED_IND,STRENGTH,STRENGTH_UNIT,STRENGTH_TYPE,DOSAGE_VALUE,BASE,DOSAGE_UNIT,NOTES,INGREDIENT_F,STRENGTH_UNIT_F,STRENGTH_TYPE_F,DOSAGE_UNIT_F
0,43063,424,AZITHROMYCIN,I,250.0,MG,NaN,NaN,N,NaN,HISTORIC FREEFORM TEXT: AZITHROMYCIN ((AZITHRO...,Azithromycine,MG,NaN,NaN
1,43041,11085,DOBUTAMINE (DOBUTAMINE HYDROCHLORIDE),I,250.0,MG,NaN,20.0,N,ML,HISTORIC FREEFORM TEXT: DOBUTAMINE ((AS DOBUTA...,Dobutamine (Chlorhydrate de dobutamine),MG,NaN,ML
2,42652,150,ACETYLSALICYLIC ACID,I,325.0,MG,NaN,NaN,N,EVT,HISTORIC FREEFORM TEXT: ACETYLSALICYLIC ACID Q...,Acide acétylsalicylique,MG,NaN,NaN
3,46832,16202,RABIES VACCINE INACTIVATED (HUMAN DIPLOID-CELL...,I,2.5,UNIT,NaN,NaN,N,VIAL,HISTORIC FREEFORM TEXT: RABIES VACCINE DRIED H...,Vaccin antirabique inactivé (cultivé sur cellu...,Unité,NaN,Fiole
4,44090,1241,KETOROLAC TROMETHAMINE,I,10.0,MG,NaN,NaN,N,ML,Historic Freeform Text: KETOROLAC TROMETHAMINE,Kétorolac trométhamine,MG,NaN,ML

In [14]:
package = pd.read_csv('allfiles-4/package.txt', sep=",", header=None)

In [15]:
package.rename(columns={
    0: "DRUG_CODE",
    1:"UPC",
    2: "PACKAGE_SIZE_UNIT",
    3: "PACKAGE_TYPE",
    4: "PACKAGE_SIZE",
    5: "PRODUCT_INFORMATION",
    6: "PACKAGE_SIZE_UNIT_F",
    7: "PACKAGE_TYPE_F"
}, inplace=True)

In [16]:
package.head(10)

,DRUG_CODE,UPC,PACKAGE_SIZE_UNIT,PACKAGE_TYPE,PACKAGE_SIZE,PRODUCT_INFORMATION,PACKAGE_SIZE_UNIT_F,PACKAGE_TYPE_F
0,9,NaN,NaN,NaN,NaN,100,NaN,NaN
1,15,NaN,NaN,NaN,NaN,100/500,NaN,NaN
2,16,NaN,NaN,NaN,NaN,100/500,NaN,NaN
3,57,NaN,NaN,NaN,NaN,500ML,NaN,NaN
4,68,NaN,NaN,NaN,NaN,25ML,NaN,NaN
5,69,NaN,NaN,NaN,NaN,25ML,NaN,NaN
6,85,NaN,NaN,NaN,NaN,50 ML,NaN,NaN
7,89,NaN,NaN,NaN,NaN,30G/150G,NaN,NaN
8,115,NaN,NaN,NaN,NaN,10ML/20ML/30ML/100ML,NaN,NaN
9,117,NaN,NaN,NaN,NaN,30ML,NaN,NaN

In [17]:
package.isnull().sum()

DRUG_CODE                  0
UPC                    11346
PACKAGE_SIZE_UNIT      11328
PACKAGE_TYPE           11326
PACKAGE_SIZE           11328
PRODUCT_INFORMATION        1
PACKAGE_SIZE_UNIT_F    11347
PACKAGE_TYPE_F         11347
dtype: int64

In [18]:
package.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11347 entries, 0 to 11346
Data columns (total 8 columns):
DRUG_CODE              11347 non-null int64
UPC                    1 non-null float64
PACKAGE_SIZE_UNIT      19 non-null object
PACKAGE_TYPE           21 non-null object
PACKAGE_SIZE           19 non-null float64
PRODUCT_INFORMATION    11346 non-null object
PACKAGE_SIZE_UNIT_F    0 non-null float64
PACKAGE_TYPE_F         0 non-null float64
dtypes: float64(4), int64(1), object(3)
memory usage: 709.3+ KB

Most columns are fill completely with null values.

In [19]:
pharm = pd.read_csv('allfiles-4/pharm.txt', sep=",", header=None)

In [20]:
pharm.rename(columns={
    0: "DRUG_CODE",
    1:"PHARMACEUTICAL_STD"
}, inplace=True)

In [21]:
pharm.head()

   DRUG_CODE PHARMACEUTICAL_STD
0       3132                USP
1       3133                USP
2       3141                USP
3          9                USP
4         15                USP

In [22]:
route = pd.read_csv('allfiles-4/route.txt', sep=",", header=None)

In [23]:
route.rename(columns={
    0: "DRUG_CODE",
    1:"ROUTE_OF_ADMINISTRATION_CODE",
    2: "ROUTE_OF_ADMINISTRATION",
    3: "ROUTE_OF_ADMINISTRATION_F"
}, inplace=True)

In [24]:
route.head()

,DRUG_CODE,ROUTE_OF_ADMINISTRATION_CODE,ROUTE_OF_ADMINISTRATION,ROUTE_OF_ADMINISTRATION_F
0,10000,56,ORAL,Orale
1,10001,56,ORAL,Orale
2,10008,56,ORAL,Orale
3,10009,6,DIALYSIS,Dialyse
4,10010,9,DISINFECTANT (Hospital/HC Facilities),"Désinfectant (Hôpitaux, établissements de soin..."

In [25]:
schedule = pd.read_csv('allfiles-4/schedule.txt', sep=",", header=None)

In [26]:
schedule.rename(columns={
    0: "DRUG_CODE",
    1:"SCHEDULE",
    2: "SCHEDULE_F",
}, inplace=True)

In [27]:
schedule.head()

   DRUG_CODE      SCHEDULE           SCHEDULE_F
0      10000  Prescription         Prescription
1      10001           OTC       En vente libre
2      10008  Prescription         Prescription
3      10009       Ethical  Spécialité médicale
4      10010           OTC       En vente libre

In [28]:
status = pd.read_csv('allfiles-4/status.txt', sep=",", header=None)

In [29]:
status.rename(columns={
    0: "DRUG_CODE",
    1:"CURRENT_STATUS_FLAG",
    2: "STATUS",
    3: "HISTORY_DATE",
    4: "STATUS_F",
    5: "LOT_NUMBER",
    6: "EXPIRATION_DATE"
}, inplace=True)

In [30]:
status.head()

,DRUG_CODE,CURRENT_STATUS_FLAG,STATUS,HISTORY_DATE,STATUS_F,LOT_NUMBER,EXPIRATION_DATE
0,10000,N,APPROVED,02-MAR-2004,APPROUVÉ,NaN,NaN
1,10000,N,APPROVED,08-FEB-2018,APPROUVÉ,NaN,NaN
2,10000,N,APPROVED,15-MAY-1997,APPROUVÉ,NaN,NaN
3,10000,N,APPROVED,24-FEB-2004,APPROUVÉ,NaN,NaN
4,10000,N,APPROVED,27-JAN-2014,APPROUVÉ,NaN,NaN

In [31]:
ther = pd.read_csv('allfiles-4/ther.txt', sep=",", header=None)

In [32]:
ther.rename(columns={
    0: "DRUG_CODE",
    1:"TC_ATC_NUMBER",
    2: "TC_ATC",
    3: "TC_AHFS_NUMBER",
    4: "TC_AHFS",
    5: "TC_ATC_F",
    6: "TC_AHFS_F"
}, inplace=True)

In [33]:
ther.head()

,DRUG_CODE,TC_ATC_NUMBER,TC_ATC,TC_AHFS_NUMBER,TC_AHFS,TC_ATC_F,TC_AHFS_F
0,9,H03BB02,THIAMAZOLE,68:36.08,ANTITHYROID AGENTS,NaN,NaN
1,15,N06AA10,NORTRIPTYLINE,28:16.04.28,TRICYCLICS AND OTHER NOREPINEPHRINE-REUPTAKE I...,NaN,NaN
2,16,N06AA10,NORTRIPTYLINE,28:16.04.28,TRICYCLICS AND OTHER NOREPINEPHRINE-REUPTAKE I...,NaN,NaN
3,57,D02AC,SOFT PARAFFIN AND FAT PRODUCTS,84:24.12,BASIC OINTMENTS AND PROTECTANTS,NaN,NaN
4,68,V04CG05,METHYLTHIONINE,92:00.00,MISCELLANEOUS THERAPEUTIC AGENTS,NaN,NaN

In [34]:
vet = pd.read_csv('allfiles-4/vet.txt', sep=",", header=None)

In [35]:
vet.rename(columns={
    0: "DRUG_CODE",
    1:"VET_SPECIES",
    2: "VET_SUB_SPECIES",
    3: "VET_SPECIES_F"
}, inplace=True)

In [36]:
vet.head()

   DRUG_CODE   VET_SPECIES VET_SUB_SPECIES VET_SPECIES_F
0         85        CATTLE             NaN       Bétails
1         85  SWINE (PIGS)             NaN         Porcs
2         85         GOATS             NaN       Chèvres
3         85        HORSES             NaN      Cheveaux
4         85          CATS             NaN         Chats

In [40]:
comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12860 entries, 0 to 12859
Data columns (total 18 columns):
DRUG_CODE                  12860 non-null int64
ACTIVE_INGREDIENT_CODE     5347 non-null object
INGREDIENT                 12860 non-null int64
INGREDIENT_SUPPLIED_IND    12860 non-null object
STRENGTH                   12860 non-null object
STRENGTH_UNIT              12860 non-null object
STRENGTH_TYPE              12860 non-null object
DOSAGE_VALUE               12860 non-null object
BASE                       5821 non-null object
DOSAGE_UNIT                1676 non-null object
NOTES                      12858 non-null object
INGREDIENT_F               12860 non-null object
STRENGTH_UNIT_F            12860 non-null object
STRENGTH_TYPE_F            12860 non-null object
DOSAGE_UNIT_F              12838 non-null object
15                         304 non-null object
16                         12651 non-null object
17                         12860 non-null object
dtypes: int64(2), object(16)
memory usage: 1.8+ MB

In [95]:
dfs = [form, ingred, package, pharm, route, schedule, status, ther, vet]
database = comp.join(drug.set_index('DRUG_CODE'), on='DRUG_CODE', how='left')
for df in dfs:
    database = database.join(df.set_index('DRUG_CODE'), on='DRUG_CODE', how='left', lsuffix='_x')

In [94]:
database.head(1)

,DRUG_CODE,ACTIVE_INGREDIENT_CODE_x,INGREDIENT_x,INGREDIENT_SUPPLIED_IND_x,STRENGTH_x,STRENGTH_UNIT_x,STRENGTH_TYPE_x,DOSAGE_VALUE_x,BASE_x,DOSAGE_UNIT_x,...,EXPIRATION_DATE,TC_ATC_NUMBER,TC_ATC,TC_AHFS_NUMBER,TC_AHFS,TC_ATC_F,TC_AHFS_F,VET_SPECIES,VET_SUB_SPECIES,VET_SPECIES_F
0,9,PIA08,8481,PALADIN LABS INC.,DIN OWNER,Y,Y,Y,N,NaN,...,NaN,H03BB02,THIAMAZOLE,68:36.08,ANTITHYROID AGENTS,NaN,NaN,NaN,NaN,NaN

In [110]:
# shrunkDF = database[['DRUG_IDENTIFICATION_NUMBER', 'BRAND_NAME']]

In [111]:
# database[['DRUG_IDENTIFICATION_NUMBER', 'BRAND_NAME']]

In [112]:
database.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94076 entries, 0 to 12859
Data columns (total 76 columns):
DRUG_CODE                       94076 non-null int64
ACTIVE_INGREDIENT_CODE_x        33706 non-null object
INGREDIENT_x                    94076 non-null int64
INGREDIENT_SUPPLIED_IND_x       94076 non-null object
STRENGTH_x                      94076 non-null object
STRENGTH_UNIT_x                 94076 non-null object
STRENGTH_TYPE_x                 94076 non-null object
DOSAGE_VALUE_x                  94076 non-null object
BASE_x                          39016 non-null object
DOSAGE_UNIT_x                   9449 non-null object
NOTES_x                         94057 non-null object
INGREDIENT_F_x                  94076 non-null object
STRENGTH_UNIT_F_x               94076 non-null object
STRENGTH_TYPE_F_x               94076 non-null object
DOSAGE_UNIT_F_x                 93894 non-null object
NO NAME GIVEN                   2306 non-null object
Province                        92661 non-null object
Country                         94076 non-null object
PRODUCT_CATEGORIZATION          7205 non-null object
CLASS                           94076 non-null object
DRUG_IDENTIFICATION_NUMBER      94076 non-null int64
BRAND_NAME                      94076 non-null object
DESCRIPTOR                      14394 non-null object
PEDIATRIC_FLAG                  94076 non-null object
ACCESSION_NUMBER                30669 non-null object
NUMBER_OF_AIS                   94076 non-null int64
LAST_UPDATE_DATE                94076 non-null object
AI_GROUP_NO                     94076 non-null int64
CLASS_F                         94076 non-null object
BRAND_NAME_F                    6220 non-null object
DESCRIPTOR_F                    2162 non-null object
PHARM_FORM_CODE                 94076 non-null int64
PHARMACEUTICAL_FORM             94076 non-null object
PHARMACEUTICAL_FORM_F           94075 non-null object
ACTIVE_INGREDIENT_CODE          94076 non-null int64
INGREDIENT                      94076 non-null object
INGREDIENT_SUPPLIED_IND         94076 non-null object
STRENGTH                        94076 non-null float64
STRENGTH_UNIT                   94076 non-null object
STRENGTH_TYPE                   0 non-null float64
DOSAGE_VALUE                    11513 non-null float64
BASE                            94076 non-null object
DOSAGE_UNIT                     52389 non-null object
NOTES                           40893 non-null object
INGREDIENT_F                    94076 non-null object
STRENGTH_UNIT_F                 94076 non-null object
STRENGTH_TYPE_F                 0 non-null float64
DOSAGE_UNIT_F                   52375 non-null object
UPC                             2 non-null float64
PACKAGE_SIZE_UNIT               74 non-null object
PACKAGE_TYPE                    112 non-null object
PACKAGE_SIZE                    74 non-null float64
PRODUCT_INFORMATION             82517 non-null object
PACKAGE_SIZE_UNIT_F             0 non-null float64
PACKAGE_TYPE_F                  0 non-null float64
PHARMACEUTICAL_STD              45878 non-null object
ROUTE_OF_ADMINISTRATION_CODE    94076 non-null int64
ROUTE_OF_ADMINISTRATION         94076 non-null object
ROUTE_OF_ADMINISTRATION_F       94076 non-null object
SCHEDULE                        94076 non-null object
SCHEDULE_F                      94076 non-null object
CURRENT_STATUS_FLAG             94076 non-null object
STATUS                          94076 non-null object
HISTORY_DATE                    94076 non-null object
STATUS_F                        94076 non-null object
LOT_NUMBER                      26 non-null object
EXPIRATION_DATE                 23 non-null object
TC_ATC_NUMBER                   78860 non-null object
TC_ATC                          78860 non-null object
TC_AHFS_NUMBER                  78390 non-null object
TC_AHFS                         78390 non-null object
TC_ATC_F                        0 non-null float64
TC_AHFS_F                       28 non-null object
VET_SPECIES                     15613 non-null object
VET_SUB_SPECIES                 5158 non-null object
VET_SPECIES_F                   15610 non-null object
dtypes: float64(9), int64(8), object(59)
memory usage: 55.3+ MB